
body {
  padding-top: 50px;
  color:#2B322F;	
}
.styles {
  padding: 40px 15px;
  text-align: center;
}

img{
	width: 25%;
	height: auto;
}

.originImage{
	width: 15%;
	height: auto;
}

.image{
	float: inherit;
	width: auto;
	
}

#imageText{
	font-size: .6em;
}

.navbar{
	background-color:#002d60;
}
